.my-nav
{

}
.clrwht {
   color: #ffffff !important;
}
.clrwht span {
   color: #ffffff !important;

}
.bdyclrgray {
    background-color: #e5e9ec;
}
.tabline {
    background-color: #f7f8fa;
    height: 15px;
}
.listtab li {

    padding: 10px 20px !important;
    height: 50px !important;
    font-size: 18px;

}
.bxshadow {
  -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

   /* box-shadow: 0pc 1pc 1.5625pc -0.229166667in #000;*/

}
.allservice {
    font-size: 18px;
    color: #3b8211b3;
    margin-right: 2px;
}
.notallservice {
     font-size: 18px;
    color: #ca2f2fab;
    margin-right: 2px;
}
.bg-gray {
    background-color: #f5f5f5;
}
.brdrtop {
    border-top: 1px solid #e2e2e2;
}
.p-10 {
    padding: 10px;
}
.nrmlpadd-20 {
  padding: 20px 0 20px 0;
}
.imgpadd {
  padding: 0 0 10px 5px;
}
.bottom-nomar {
  margin-bottom : 0 !important;
}
.nearestdctr {
  font-size: 16px;
  color: #828282;
  font-weight: bold;
}
.pclr {
  color: #5a1375 !important;
  font-weight: 500;
  padding: 5px 0 0 0;
}
.frmstyle {
    margin-top: 10px;
    padding: 5px 10px 10px 10px;
    background-color: #ac4fd0;
    color: #fff;

}

.slectheight > select2 {
    height: 40px !important;
}

.tabdetails {
    overflow: hidden;
}
.tabdetails ul li {
    margin-left: 6px !important;
}
.tabdetails ul li a {
    color: #fff;
    line-height: 6px;

}
.tabdetails ul li a :hover {
   text-decoration: none;
    
}
.filterform {
    color: #888;
    padding: 10px 10px !important;
    background-color: #f5f5f5;
   
}

.my-nav li a:hover
{
	color: #8a25b1;
}

.user-login 
{
	 
}

.user-login li a
{
	color: #8a25b1 !important;
}


[class~=list-enqu-btn] ul li {
    width: 20% !important;
}
[class~=list-enqu-btn] ul li a:active {
    background-color: #162336;
}
/*.thumbnail {
    position: relative;
    padding: 0px !important;
   
}

.thumbnail img {
    width: 100%;
}
.thumbheading {
	   font-family: 'Lora', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    color: #333;
    text-align: center;
    padding: 10px 0 0 0;

}*/
.breadcrumb {
    background-color: transparent !important;
}
.breadcrumb > .active {
    color: #5a1375 !important;
}


.thumbdscr {
	font-size: 14px;
    line-height: 1.56;
    color: #777;
}
.imgdet {
	 height: 300px !important;
}
.imgdet img {
 width: 100%;
 vertical-align: middle;
height: 210px !important;
}
.maincolor {
	color: #8a25b1 !important
}
.dateannounce {
	float: right; 
	color: #8a25b1 ;
	font-size:14px;
}
.img-center {
	text-align: center;
}
.img-center img{
	width:  150px;
	height: 130px;
	border-radius: 50% !important;

}
.w100 {
    width: 100% !important;
}
.paddbotom {
    padding-bottom: 50px;
}

/* Testimonial Start Here */
.clrwhite {
	color: #ffffff !important;
}
.dragable {
	cursor: pointer;
}

.testimonial{
    background: #fff;
    text-align: center;
    margin: 0 20px;
    padding: 10px 0 0 10px;
}
.testimonial .description{
    padding: 40px 30px;
    margin-bottom: 50px;
    border-top: 1px solid #2660a4;
    border-left: 1px solid #2660a4;
    font-size: 15px;
    color: #887e7f;
    line-height: 30px;
    text-align: left;
    position: relative;
}
.testimonial .description:before{
    content: "\f10e";
    font-family: fontawesome;
    display: inline-block;
    float: left;
    padding: 0 15px 5px 0;
    font-size: 30px;
    color: #ff5a5f;
    text-align: center;
    position: relative;
    top: 8px;
    left: 0;
}
.testimonial .description:after{
    content: "";
    width: 50%;
    height: 1px;
    background: #2660a4;
    position: absolute;
    bottom: 0;
    left: 0;
}
.testimonial .testimonial-content{ position: relative; }
.testimonial .testimonial-content:before{
    content: "";
    width: 1px;
    height: 20px;
    background: #2660a4;
    position: absolute;
    top: -50px;
    left: 50%;
}
.testimonial .testimonial-content:after{
    content: "";
    width: 2px;
    height: 40px;
    background: #2660a4;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: skewX(-45deg);
    transform-origin: 100% 100% 0;
}
.testimonial .pic{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 7px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.testimonial .title{
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    color: #2660a4;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    width: 15px;
    height: 10px;
    border-radius: 0;
    background: #ff5a5f;
    position: absolute;
   left: 2%;
    transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{
    width: 35px;
    background: #8a25b1;
}

.article-caption
{
position: absolute;
bottom: -17px;
max-width: 90%;
text-align: center;
background-color: rgb(129, 34, 166);
color: #fff;

}

.article-img
{
width: 100%; 
max-height: 400px;
object-fit: cover;
}
.imgeffect:hover img
{
  transform: scale(1.15, 1.15);
  transition: all 0.3s ease-out;
}
.article-intro h4 {
	font-family: "Poppins", sans-serif;
	padding-top: 30px;
	color: #202020;
    font-weight: 700;
    text-transform: uppercase;
}
.article-intro p {
	font-size: .15625in;
	font-family: "Poppins", sans-serif;
	padding-top: 10px;
}

.article-title {
	line-height: 2.8;
    padding: 0 23px;
    color: #FFF;
    font-size: 13px;
}
/* Traine Detauils Start here */

.trainerdetails {
    overflow: hidden;
}
.trdescr h3 {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.trdescr span {
    text-align: center;
}
.tr-location {
    padding-bottom: 10px;
     border-bottom: 1px solid #e5e9ec;
}
.trainerheader h5 {
    padding: 10px 0 10px 0;
}
.font-lg {
    font-size: 18px !important;
}
.linkread a {
	color: rgb(129, 34, 166);
	padding: 25px 15px 15px 15px;
}
[class~=ts-menu-1] {
     width: auto !important; 
}

[class~=ts-menu-1] a img {
     box-shadow: none !important; 
      width: auto !important; 
    
} 





/* Blog Style Here */
/* Global */
 /* Removes the default 20px margin and creates some padding space for the indicators and controls */
.bpost {
    background-color: #fff;
    padding: 5px 0 0 0;
    overflow: hidden;
}

.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
    left: -12px;
}
.carousel-control.right {
    right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
    background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}



.thumb {
    display: block;
    width: 100%;
    margin: 0;
}

/* Style to article Author */
.by-author {
    font-style: italic;
    line-height: 1.3;
    color: #aab6aa;
    font-size: 12px;
    font-weight: 500;
}

/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/

/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list {
    padding-left: .5em;
}

.main-list .media {
    padding-bottom: 1.1em;
    border-bottom: 1px solid #e8e8e8;
}
.media img:hover {
   background-color: #222;
   -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
}

.main-list .media:last-child{
    border-bottom: none;
}
.block-title {
    overflow: hidden;
    font-family: 'Lato', Arial, sans-serif; 
    line-height: inherit; 
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.6px;
    padding:0 0 10px 0;
}
.block-title h4 {
    padding:10px 0 10px 0;

}

.block-title p {
    font-family: 'Lato', Arial, sans-serif;
  padding: 0;
  margin: 0 0 30px 0;
  line-height: 22px;
  font-size: 16px;
  color: #7b7b7b;
  letter-spacing: 0.2px;
  font-weight: normal;
}
.small-post a{
    font-size: 14px;
    color: #7b7b7b;
}
.small-post a:hover{
    text-decoration: none;
    color: #5a1375;
}
.view-all {
    color: rgb(255, 255, 255);
    background-color:#5a1375;
    font-size: 11px;
    margin: 0px 5px 0px 0px;
    padding: 1px 4px;
    text-decoration: none;
    border-radius: 2px;
    transition: all 0.4s ease 0s;
}
.view-all:hover {
     color: rgb(255, 255, 255);
    text-decoration: none;
    background-color:#5a1375;
}
.inner_sidebar .widget{
  color: #c1c0c0;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-bottom: 2px solid rgba(221, 226, 232, 0.5);
}
.ads_wid{
  text-align: center;
}
.ads_wid img{
  width: 100%;
}

/***************widget************/

.widget li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.widget .widget_categories li span {
  margin-left: 10px;
}
.widget_categories li i, .widget_archive li i {
  float: right;
  margin-left: 10px;
  font-size: 13px;
  line-height: 20px;
}
.categories li{
  padding: 10px;
  border-bottom: 1px solid rgba(221, 226, 232, 0.5);
}

.categories li a {
  text-decoration: none;
  color: #7b7b7b;
  text-transform: capitalize;
}


/* Social Icons */
.widget h4{
  padding: 0 0 10px 0;
  margin: 0px 0px 20px;
  text-transform: capitalize;
  font-size: 16px;
  color: #555;
}
.widget .widget_title {
  color: #263241;
}
.widget_title:after{
  content: '';
  width: 50px;
  height: 1px;
  background-color: #00ada7;
  margin-top: 5px;
  display: block;
}
#footer .widget .widget_title{
  color: #fff;
}
.inner_sidebar .widget a:hover, .inner_footer .widget a:hover{
  color: #00ada7;
}
.widget_social_counter .social_counter_count {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2em;
    color: #333333;
    margin-top: 5px;
}

.social_counter {
    width: 47%;
    margin-right: 3%;
    min-width: 135px;
    display: inline-block;
    float: left;
    margin-bottom: 15px;
}

.social_counter_icon {
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #EEEEEE;
    color: #333333;
    text-align: center;
    margin-right: 18px;
}
.social_counter_icon i {
    line-height: 50px;
    font-size: 18px;
}

.social_counter_count,
.social_counter_count,
.social_counter_icon {
    -webkit-transition: all 0.25s;
       -moz-transition: all 0.25s;
            transition: all 0.25s;
}

.social_counter_twitter .social_counter_icon {
    background-color: #55ACEE;
    color: #FFFFFF;
}
.social_counter_twitter:hover .social_counter_icon {
    background-color: #88C4F3;
}
.social_counter_twitter:hover .social_counter_count {
    color: #55ACEE;
}

.social_counter_facebook .social_counter_icon {
    background-color: #3D62B3;
    color: #FFFFFF;
}
.social_counter_facebook:hover .social_counter_icon {
    background-color: #7791C9;
}
.social_counter_facebook:hover .social_counter_count {
    color: #3D62B3;
}

.social_counter_instagram .social_counter_icon {
    background-color: #2D6B94;
    color: #FFFFFF;
}
.social_counter_instagram:hover .social_counter_icon {
    background-color: #6C97B4;
}
.social_counter_instagram:hover .social_counter_count {
    color: #2D6B94;
}

.social_counter_youtube .social_counter_icon {
    background-color: #CC181E;
    color: #FFFFFF;
}
.social_counter_youtube:hover .social_counter_icon {
    background-color: #DB5D61;
}
.social_counter_youtube:hover .social_counter_count {
    color: #CC181E;
}

.social_counter_googleplus .social_counter_icon {
    background-color: #D34836;
    color: #FFFFFF;
}
.social_counter_googleplus:hover .social_counter_icon {
    background-color: #E07E72;
}
.social_counter_googleplus:hover .social_counter_count {
    color: #D34836;
}

.social_counter_soundcloud .social_counter_icon {
    background-color: #1BB6EC;
    color: #FFFFFF;
}
.social_counter_soundcloud:hover .social_counter_icon {
    background-color: #5FCBF1;
}
.social_counter_soundcloud:hover .social_counter_count {
    color: #1BB6EC;
}
.social_counter_counter {
    float: left;
    display: inline-block;
}
.social_counter_unit {
    margin-top: 2px;
    font-size: 12px;
    font-style: italic;
    line-height: 1em;
    color: #999999;
}

/*widget newsletter*/
.widget_newsletter form{
  margin-bottom: 0;
}
.widget_newsletter input{
  margin-bottom: 20px;
}
.widget_newsletter button span, .widget_newsletter button i{
  color: #fff;
  text-transform: capitalize;
}
/*Search*/
.widget_search form{
  margin: 0;
}
.widget_search input{
  width: 100%;
  margin-bottom: 20px;
}
.widget_search input:last-child{
  margin-bottom: 0;
}
.widget_search .button, button, input[type="submit"], input[type="reset"], input[type="button"]{
  background-color: #00ada7;
  border-radius: 2px;
  border: none;
  color: #fff;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s
}
.widget_search .button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover{
  background-color: #263241;
}

/*widget recent comments*/

.widget_recent_comments .widget_post_thumbnail{
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
  overflow: hidden;
}
.widget_recent_comments .comment-author a {
  color: #BCC2CE;
}
#footer .widget_recent_comments .comment-author a {
  color: #fff;
}
.comment-c{
  display: block;
  font-weight: 600;
}
.comment-c a{
text-decoration: none;
font-size: 14px;
color: #7b7b7b;
}
 
/*widget recent post*/

.comment-c a:hover {
    text-decoration: none;
    color: #5a1375 !important;
}
.widget_recent_post .widget_post_thumbnail{
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
  overflow: hidden;
}

.recent_post li {
   border-bottom: 1px solid rgba(221, 226, 232, 0.5);
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 100%;
  text-transform: capitalize;
}
.widget_recent_post .widget_post_thumbnail img{
  width: 100%;
  height: 100%;
}

.widget_recent_post h5{
  margin: 0;
}
.post_meta{
  margin-top: 10px;
  font-size: 12px;
}
.post_meta span a{
  font-size: 12px;
  margin-right: 10px;
   text-transform: capitalize;
  color: #7b7b7b;
}

.normal-font
{
 text-transform: capitalize;
  color: #7b7b7b;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.normal-font:hover{
  color: #5a1375 !important;
  text-decoration: none !important;
}

/*p{
  font-family: 'Lato', Arial, sans-serif;
  padding: 0;
  margin: 0 0 30px 0;
  line-height: 22px;
  font-size: 16px;
  color: #7b7b7b;
  letter-spacing: 0.2px;
  font-weight: normal;
 }*/


/*blocks Posts*/
.block_posts{
  text-transform: capitalize;
  margin: 0px 0 30px 0 ;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  background-color: #FFF;
  position: relative;
  padding: 20px;
  margin-bottom: 30px;
}
.block_posts .small_post_content a:hover, .featured_cat_slider a:hover{
  color: #00ada7;
}
.block_posts .small_post_content a{
  color: #263241;
}
.block_posts h4, .block_posts h4 a{
  color: #263241;
}
.block_inner img{
  max-width: 100%;
  height: auto;
}
.featured_posts_slider .img_post{
  overflow: hidden;
  max-height: 180px;
}
.block_img_post, .img_small_post, .widget_post_thumbnail, .img_post{
  background-color: #222;
}
.block_inner img:hover, .widget_post_thumbnail img:hover, .featured_posts_slider img:hover{
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
}

.block_inner .img_small_post{
  width: 100px;
  height: auto;
  float:left;
  margin-right: 20px;
}
.small_list_post ul{
  margin: 0;
  padding: 0;
}
.block_inner .small_list_post li{
  list-style: none;
  border-bottom: 1px solid rgba(221, 226, 232, 0.5);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.block_inner .small_list_post li:last-child{
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.small_list_post h5{
  margin: 0px;
}
.featured_cat_slider .img_post {
  overflow: hidden;
  max-height: 180px;
}
.featured_cat_slider .item img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 160px;
}
.featured_cat_slider a{
  color: #fff;
}
.block_posts .featured_cat_slider h4{
  color: #fff;
}
.post_date{
  display: inline-block;
  margin-right: 10px;
} 
.post_date a {
    color: #263241 !important;
}

/*single post details */

.hz_title_and_meta{
  background-color: transparent;
  padding: 20px 20px 0 0px;
}

/*SINGLE POST*/
.hz_tags{
  float: left;
}
.hz_tags span a{
  padding:4px;
  background-color: #CCD1D9;
  color: #fff;
  text-transform: capitalize;
  border-radius: 2px;
}
.hz_tags span a:hover{
  background-color:#00ada7;
  color: #fff;
}

.hz_top_post{
    display: inline-block;
    width: 100%;
    position: relative;
  
    padding: 0 30px;
}
.hz_top_post .hz_admin_pic{
  float: left;
  width: 70px;
  margin-right: 20px;
}
.hz_top_post .hz_admin_pic img{
  width: 100%;
  border-radius: 2px;
}
.hz_title_and_meta h3{
  margin: 0;
  padding: 0;
  color: #263241;
  line-height: 35px;
   font-family: 'Lato', Arial, sans-serif; 
  line-height: inherit; 
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.6px;
  cursor: pointer;
}
.hz_top_post .hz_title_and_meta h3:hover{
  color: #00ada7;
   -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  text-decoration: underline;
}
.hz_top_post .hz_title a{
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
}
.hz_meta_post{
  margin-top: 10px;
}
.hz_meta_post span{
  margin-right: 10px;
  color: #CCD1D9;
}
.hz_meta_post a{
  color: #CCD1D9;
  font-size: 13px;
  font-weight: 400;
}
.hz_meta_post a:hover{
  color: #00ada7;
}
.hz_meta_post span i{
  margin-right: 5px;
  color: #CCD1D9;
}
.hz_main_post_content{
  padding: 30px;
  display: inline-block;
}
.b_contentdetails {
   background-color: #fff;
  margin-bottom: 45px;
  -webkit-box-shadow: 0 0 5px 0 #e2e3e4;
  -moz-box-shadow: 0 0 5px 0 #e2e3e4;
  box-shadow: 0 0 5px 0 #e2e3e4;
  display: inline-block;
}
.hz_post .hz_main_post_content .hz_content{
  margin: 0px 0 30px 0px;
}
.hz_bottom_post{
  border-top: 1px solid #ecedee;
  padding-top: 30px; 
}
.hz_bottom_post .hz_read_more{
  float: left;
}
.hz_bottom_post .hz_icon_shere{
  float: right;
  margin-top: -3px;
}

.hz_bottom_post .hz_icon_shere .hz_share span{
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  margin-right: 3px;
  margin-bottom: 0px;
}
.hz_bottom_post .hz_icon_shere .hz_share span a{
  display: block;
  border-radius: 2px;
  background-color: #CCD1D9;
  height: 100%;
  color: #fff;
}
.hz_bottom_post .hz_icon_shere .hz_share span a:hover{
  background-color:#00ada7;
  color: #fff;
  text-decoration:none
}

.hz_bottom_post .hz_icon_shere .share_toggle{
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  margin-right: 3px;
  margin-bottom: 0px;
  float: right;
  background-color: #CCD1D9;
  border-radius: 2px;
}
.hz_bottom_post .hz_icon_shere .share_toggle i{
  display: block;
  height: 100%;
  line-height: 26px;
  color: #fff;

}
.hz_bottom_post .hz_icon_shere .share_toggle:hover{
  background-color:#00ada7;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hz_bottom_post .hz_icon_shere  .hz_share {
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  margin-right: 8px;
}
.hz_bottom_post .hz_icon_shere  .hz_share.share_active {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
  opacity: 1;
  visibility: visible;
}
.hz_read_more a{
  font-size: 10px !important;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #00ada7;
  color: #fff;
  padding: 6px 8px 7px;
  display: inline-block;
  border-radius: 2px;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
}
.hz_read_more a:hover{
  background-color: #263241;
  color: #fff;
}
.hz_title_and_meta{
    background-color: #fff;
    padding: 20px 20px 0 20px;
}



.user_info_post{
  background-color: #fff;
  padding: 20px;
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 30px;
}

.user_pic{
  margin-right: 20px;
  height: auto;
  float: left;
}
.user_pic img{
  border-radius: 2px;
  width: 140px;
}
.min_user_info h4 {
      font-family: 'Lato', Arial, sans-serif;
    line-height: inherit;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.6px;
  font-size: 16px;
  font-family: 'Lato', Arial, sans-serif;
  padding: 0;
  margin: 0 0 10px 0;

}
.min_user_info p{
 font-family: 'Lato', Arial, sans-serif;
    padding: 0;
    margin: 0 0 30px 0;
    line-height: 22px;
    font-size: 16px;
    color: #7b7b7b;
    letter-spacing: 0.2px;
    font-weight: normal;
    font-size: 13px;

}
.social_icon{
  text-align: right;
  float: none;
}
 .social_icon span a{
  background-color: #CCD1D9;
    border-radius: 2px;
  color: #fff;
  padding: 5px;
}

.social_icon span a:hover{
  background-color:#00ada7;
  color: #fff;
}
.personal_info label{
  color: #555;
}